
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#classicformpage .view {
  background-image: url("./assets/lighthouse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#classicformpage .gradient {
  background: -webkit-linear-gradient(
    45deg,
    rgba(254, 254, 255, 0.7),
    rgb(66, 133, 244) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(244, 244, 250, 0.418), rgba(66, 133, 244, 0.781) 100%)
  );
  background: linear-gradient(
    45deg,
    rgba(200, 214, 233, 0.7),
    rgb(66, 133, 223) 100%
  );
}

#classicformpage .card {
  background-color: rgba(126, 123, 215, 0.2);
}

#classicformpage h6 {
  line-height: 1.7;
}

#classicformpage .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#classicformpage .top-nav-collapse {
  background: #424f95 !important;
}

@media (max-width: 768px) {
  #classicformpage .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

#classicformpage label {
  color: #fff !important;
}

.pills-rounded .nav-item .nav-link {
  border-radius: 10em;
}
.pills-purple-gradient .nav-item .nav-link.active {
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
}

.bg {
  /* height: 300px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: -webkit-linear-gradient(
    45deg,
    rgba(254, 254, 255, 0.7),
    rgb(66, 133, 244) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(244, 244, 250, 0.418), rgba(66, 133, 244, 0.781) 100%)
  );
  background: linear-gradient(
    45deg,
    rgba(200, 214, 233, 0.7),
    rgb(66, 133, 223) 100%
  );
  }